@model IEnumerable<MultiserviciosPiscinas.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<a asp-action="Crear" class="btn btn-primary mb-3">
    Nuevo Cliente
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var cliente in Model)
        {
            <tr>

                <td>@cliente.Id</td>

                <td>
                    @cliente.Usuario.Nombre
                    @cliente.Usuario.ApellidoPaterno
                </td>

                <td>
                    @cliente.Usuario.Correo
                </td>

                <td>
                    @(cliente.TelefonosCliente.FirstOrDefault()?.NumeroTelefono) 
                </td>

                <td>

                    <a asp-action="Detalle"
                       asp-route-id="@cliente.Id"
                       class="btn btn-info btn-sm">
                        Ver
                    </a>

                    <a asp-action="Editar"
                       asp-route-id="@cliente.Id"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                </td>

            </tr>
        }

    </tbody>
</table>